@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    background-image: url('../../assets/imgBanner/Gore.jpg');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    color: rgb(255, 12, 243);
    text-align: center;
    font-size: 30px;

    -webkit-text-stroke: 4px #000000;
    paint-order: stroke fill;
}

.title {
    font-size: 50px;
    font-weight: 400;
    color: #fff;

    -webkit-text-stroke: 4px #000000;
    paint-order: stroke fill;

    margin: 15px 0;
}

.description {
    color: rgb(255, 12, 243);
    font-weight: 400;

    margin: 25px;
}
